/* Import Italiana Font  and for Layout*/
/* Layout */
body, .container {
    font-family: 'PoetsenOne', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* Sidebar */
/* ----------------------------------------------------------------- */
.sidebar {
    width: 40%;
    background-color: #E09075; /* Sidebar Color */
    color: #F9F6ED;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.welcome {
    font-size: clamp(20px, 3vw, 40px);
    margin-top: 80px;
}

.username {
    font-size: clamp(40px, 5vw, 80px);
    margin-top: -80px;
}

/* Navigation Menu */
.sidebar nav ul {
    list-style: none;
    margin-top: -100px;
    padding: 0;
    text-align: center;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    text-decoration: underline; /* Make links underlined */
    color: #F9F6ED;
    font-size: 30px;
    font-weight: bold;
}

.logout {
    text-decoration: none;
    color: #F9F6ED;
    font-size: 18px;
}
/* ----------------------------------------------------------------- */

/* Main Content */
/* ----------------------------------------------------------------- */
.content {
    width: 60%;
    background-color: #F9F6ED;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


.content h2 {
    font-size: 30px;
    color: #000;
    margin-bottom: 40px;
    margin-top: 50px;
}
/* ----------------------------------------------------------------- */

/* For Login page */
/* ----------------------------------------------------------------- */
.loginGreetingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 5%;
    overflow: hidden;
}

.greetingsHeadline, .greetingMessage {
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
    color: #F9F6ED;
}

.greetingsHeadline {
    font-size: clamp(2em, 6vw, 3.5em);
    margin-top: clamp(1.3em, 4.8vh, 5.8em);
}

.greetingMessage {
    font-size: clamp(1em, 3vw, 2em);
}

.loginContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 5%;
}

.loginComponents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginField {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    max-width: 100%;
    flex-wrap: wrap;
}

.loginField label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40%;
}

.loginField input {
    width: 250px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.loginField input:focus {
    border-bottom: 2px solid #E09075;
}

.loginButton button {
    width: 100px;
    height: 40px;
    background-color: #E09075;
    color: #F9F6ED;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.loginButton button:hover {
    background-color: #d07f65;
}
/* ----------------------------------------------------------------- */

/* For Support page */
/* ----------------------------------------------------------------- */
.support-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.support-item {
    display: flex;
    align-items: center;
    background-color: #F9F6ED;
    padding: 20px;
    margin-bottom: 80px;
}

.support-item h3 {
    width: 20%;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
}

.support-item p {
    width: 80%;
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
}
/* ----------------------------------------------------------------- */

/* For NEXT PAGE */